# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# Virtual environments
.env
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project specific
config.json
tasks_history.json
Logs/
Downloads/
.m3u8_temp_*/
